<p>My name is Matt Hallowell, and this is my final examination webpage.</p>
<p>Use the above tabs to traverse the webpage.</p>
<p>New User</p>
<p>Create New User</P>
<%= form_tag :action => 'index' do %>
    Username:  <%= text_field_tag 'username', @myUser %> <br>
    Email:     <%= email_field_tag 'email', 'email@example.com'%><br>
    Password:  <%= password_field_tag 'password', nil, maxlength: 12 %><br>
    <%= submit_tag 'Create' %>

<% end %>