<!DOCTYPE html>
<html>
<h1>IT231 Final</h1>
  <head>
    <title>Final</title>
    <%= csrf_meta_tags %>
    <%= link_to "Home", home_index_path %>
    <%= link_to "Finales", finales_path %>
    <%= link_to "Browse", browse_browse_path %>
    <%= link_to "Users", users_path %>
    <%= link_to "Search", search_search_path %>
    <%= link_to "Login", home_login_path %>
    <%= link_to "Logout", home_logout_path %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
